
<!--header -->
<% include partials/header.ejs %>


<!--Service page -->

<div id ="service"
<br>
 <h2 id="AboutHeader"><%= title %></h2>
<br>
<div id="web" class="col-sm-6 col-md-6"
<br>
 <img  src="/Assets/images/Web_ic.png" alt="payroll">
 <h3>Web Site Design</h3>

 </div>
<div id="test" class="col-sm-6 col-md-6"
<br>
<img  src="/Assets/images/test_icon.png" alt="payroll">
  <h3>Testing</h3>
</div>
</div>


<!-- footer-->
<% include partials/footer.ejs %>