<!--header -->
<% include partials/header.ejs %>

<!--Main content-->

<div class = "row1">

<div class ="col-md-8" 
<br>
<div class= "load"
<br>
     <i id="loading" class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
</div>
<div class="et"
<br>
<h1 id="emerging">Emerging </h1>
<h1 id="tech">Technology </h1>
       </div>
        
</div>
        <div class ="col-md-4" 
<br>
      <h1 id ="homeHeader"><%= title %></h1>
      <p id ="paraHome">This is a Portfolio Assignment for Emerging technology 
       Where we are learning how to work with Node.js, EJS and having lots of new technologies.</p>
       
 </div>
        </div>
        

</div>


 






<!-- footer-->
<% include partials/footer.ejs %>



